<h2>Komentáře</h2>
<div class="row" *ngFor="let comm of comments">
  <ng-template [ngIf]="comm.fkParrentComment === null">
  <div class="col-xs-12 comment">

    <div class="imageWithName">
        <img class="adjustImage" src="../../../../assets/images/dog(1).svg" alt="user profile"/>
        <span class="adjustName">{{ comm.name }}</span>
    </div>

      <div class="commentText">
        <p>{{ comm.text }}</p>
      </div>

      <div class="commentDate">
        <div> {{ comm.dateInsert }} </div>
      </div>

    <a class="btn btn-primary" (click)="addRank(comm.id)">Thumbs Up</a>

  </div>

  </ng-template>
  <div *ngFor="let parrComm of comments">
    <ng-template [ngIf]="comm.id === parrComm.fkParrentComment">
      <div class="col-xs-12 answer">

        <div class="imageWithName">
          <img class="adjustImage" src="../../../../assets/images/dog(4).svg" alt="user profile"/>
          <span class="adjustName">{{ parrComm.name }}</span>
        </div>

        <div class="commentText">
          <p>{{ parrComm.text }}</p>
        </div>

        <div class="commentDate">
          {{ parrComm.dateInsert }}
        </div>

        <a class="btn btn-primary" (click)="addRank(parrComm.id)">Thumbs Up</a>

      </div>
    </ng-template>
  </div>

  <div class="answerButton" *ngIf="comm.fkParrentComment === null">
    <a class="btn" id="buttonStyleAnswer" (click)="fillAnswer(comm)">Odpovědět </a>
  </div>

    <div *ngIf="comm.check && showFormAnswer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <form [formGroup]="answerCommentForm" (ngSubmit)="onSubmitAnswer(comm.id)">
              <div class="form-group">
                <label for="responseUsername"></label>
                <input class="form-control" type="text" id="responseUsername"
                       formControlName="responseUsername"
                       placeholder="Jméno"
                       />
              </div>
              <div class="form-group">
                 <textarea formControlName="commentText"
                           placeholder="Přidej svůj komentář"
                           class="form-control"></textarea>
              </div>
              <button *ngIf="answerCommentForm.valid" class="btn sendButton" type="submit">Odeslat</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
<div class="container" *ngIf="!showFormAnswer; else addNormalComment">
  <div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="username"></label>
          <input class="form-control" type="text" id="username"
                 ngModel
                 name="username"
                 placeholder="Jméno"
                 required />
        </div>
        <div class="form-group">
          <textarea name="commentText"
                    rows="3"
                    class="form-control"
                    placeholder="Přidej svůj komentář"
                    ngModel
                    required></textarea>
        </div>
        <button class="btn sendButton" type="submit" [disabled]="!f.valid">Odeslat koment</button>
      </form>
    </div>
  </div>
</div>
<div>
</div>
  <ng-template #addNormalComment>
    <a class="btn sendButton" (click)="showFormAnswer = false">Přidat komentář</a>
  </ng-template>
</div>

