.imageWithName {
  width: 100%;
  margin-bottom: 1.5rem;
}

.adjustImage {
  height: 35px;
  width: 35px;
  margin-right: 0.55rem;
}

.adjustName {
  font-weight: 800;
  font-size: 1.4rem;
  color: black;
}

.comment {
  border-top: 0.8px solid #2023261a;
  padding-top: 1.7rem;
}

.answer {
  padding-left: 45px;
}

.answerButton {
  margin-bottom: 0.4rem;
  padding-left: 15px;
}

#buttonStyleAnswer {
  background-color: #de7824;
  color: white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.sendButton {
  margin-bottom: 1rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #31c51ddb;
  color: white;
}

.commentText {
  max-width: 900px;
}

.commentDate {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: gray;
  /*margin-bottom: 1rem;*/
  /*border-bottom: 1.1px solid #2023261a;*/
}

p {
  font-size: 1.4rem;
  line-height: 2rem;
  word-break: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

textarea {
  min-height: 90px;
  resize: vertical;
}
