<div class="row" *ngFor="let comm of comments">
  <div class="col-xs-12">

    <div>
      <img src="../../../../assets/images/dog(1).svg" alt="user profile" style="height: 50px;" />
      </div>
    <h4>{{ comm.name }}</h4>
      <div>
        <p>{{ comm.text }}</p>
      </div>
      <div>
        {{ comm.dateInsert }}
      </div>
      <a>Odpovědět</a>
    </div>
    <hr>
  </div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="username">Název</label>
          <input class="form-control" type="text" id="username"
                 ngModel
                 name="username"
                 required />
        </div>
        <div class="form-group">
          <textarea name="commentText"
                    rows="3"
                    class="form-control"
                    ngModel
                    required></textarea>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Odeslat</button>
      </form>
    </div>
  </div>
</div>
    <i class="material-icons">
      comment
    </i>

