.imageWithName {
  width: 100%;
  margin-bottom: 1.5rem;
}

.adjustImage {
  height: 40px;
  width: 40px;
  margin-right: 0.6rem;
}

.adjustName {
  font-weight: 800;
  color: black;
}

.comment {

}

.answer {
  padding-left: 45px;
}

.commentText {
  max-width: 900px;
}

p {
  font-size: 2.1rem;
  line-height: 1.5rem;
}
