<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="Name">Název</label>
          <input class="form-control" type="text" id="Name"
                 ngModel
                 name="name"
                 required />
        </div>
        <div class="form-group">
          <label for="LinkFirm">Odkaz na stránku</label>
          <input id="LinkFirm" class="form-control"
                 ngModel
                 name="linkFirm"
                 required />
        </div>
        <div class="form-group">
          <label for="Image">Obrázek</label>
          <input id="Image" class="form-control"
                 ngModel
                 name="image"/>
        </div>
        <div class="form-group">
          <label for="Description">Popis</label>
          <input id="Description" class="form-control"
                 ngModel
                 name="description"/>
        </div>
        <div class="form-group">
          <label for="OriginPrice">Původní cena</label>
          <input id="OriginPrice" class="form-control"
                 ngModel
                 name="originPrice"/>
        </div>
        <div class="form-group">
          <label for="PriceAfterSale">Cena po slevě</label>
          <input id="PriceAfterSale" class="form-control"
                 ngModel
                 name="priceAfterSale"
                 required />
        </div>
        <div class="form-group">
          <label for="AveragePrice">Průměrná cena</label>
          <input id="AveragePrice" class="form-control"
                 ngModel
                 name="averagePrice"/>
        </div>

        <div class="form-group">
          <label for="ValidFrom">Od kdy je validní</label>
          <input type="date" id="ValidFrom" class="form-control"
                 ngModel
                 name="validFrom">
        </div>
        <div class="form-group">
          <label for="ValidTo">Do kdy je validní</label>
          <input type="date" id="ValidTo" class="form-control"
                 ngModel
                 name="validTo">
        </div>

        <div class="form-group form-check" *ngFor="let option of categoryModel">
          <label for="option" class="form-check-label">{{option.name}}
          <input type="checkbox" id="option" class="form-control checkbox form-check-input"
                 [(ngModel)]="option.checkCategory"
                 name="test1">
          </label>
        </div>
        <!--<div class="checkbox">-->
        <!--<label for="Disabled">-->
        <!--<input class="caadfafafdsasfsdfasheckbox" type="checkbox" id="Disabled" [ngModel]="false" />-->
        <!--Vypnout-->
        <!--</label>-->
        <!--<br />-->
        <!--</div>-->

        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Odeslat</button>
      </form>
    </div>
  </div>
</div>


