.containerItem {
  /* border: 1px solid #abb0ba4d; */
  background-color: white;
  border-radius: 2rem;
  min-height: 22em;
  /* min-width: 400px; */
  margin-bottom: 3.66%;
  float: left;
  box-shadow: 0px 0px 20px -2px rgba(145,148,179,1);
}

.containerItem:hover {
  box-shadow: 0px 0px 30px -2px rgb(98, 108, 219);
  /* border: 1px solid rgb(98, 108, 219); */
}

.filters {
  margin-bottom: 1rem;
}

.filters>a {
  margin: .4rem;
}

.moreDetails {
  background-color: #0fcc0ae6;
  font-size: 1.6rem;
  width: 100%;
}

.priceSale {
  font-size: 2.25rem;
  font-weight: 900;
}

.priceSaleItem {
  font-size: 4rem;
  font-weight: 900;
}

.paddingBuyButtonCatalog {
  margin-top: 1%;
}

.itemHeader {
  min-height: 3.2em;
  min-height: 4em;
    /* text-align: center; */
    font-size: 1.4em;
    margin-top: .5em;
    /* margin-bottom: .5em; */
    /* display: inline-block; */
    /* font-weight: 500; */
    /* vertical-align: middle; */
    /* padding: 10px 0; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imageCatalog {
  max-width: 100%;
  height: 100px;
}

a {
  text-decoration: none;
  color: black;
}

.test-right {
  /* top: 8px;
  left: 16px;
  position: absolute;
  transform: rotate(-20deg);
  animation: beat 1s ease infinite alternate;
  background: -moz-linear-gradient(-45deg, rgba(235,0,176,1) 0%, rgba(46,227,255,1) 0%, rgba(49,196,69,1) 100%);
  font-size: 2rem;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  text-align: center;
  vertical-align: middle;
  letter-spacing: 1px;
  height: 4.5rem;
  width: 4.5rem; */
  top: 0rem;
  left: .3rem;
  position: absolute;
  width: 5.2rem;
  height: 5.2rem;
  background-image: url("../../assets/images/star.svg");
  animation: beat 1s ease infinite alternate;
}

.testStar {
  font-weight: bold;
  font-size: 1.4rem;
  position: absolute;
  top: 1.6rem;
  left: 1rem;
}

/* .test-right:before, .test-right:after {
  content: "";
  position: absolute;
  background: -moz-linear-gradient(-45deg, rgba(235,0,176,1) 0%, rgba(46,227,255,1) 0%, rgba(49,196,69,1) 100%);
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(30deg);
}

.test-right:after {
  transform: rotate(60deg);
} */

@keyframes beat {
  from {
    transform: rotate(-20deg) scale(1);
  }

  to {
    transform: rotate(-20deg) scale(1.1);
  }
}

.test-container {
  position: relative;
}

.corner-ribbon.top-left {
  top: 8px;
  left: 16px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky {
  position: fixed;
}

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 8px;
  left: 16px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.red {
  background: #e43;
}

.buttonLike {
  margin-right: .55rem;
  text-decoration: none;
  cursor: pointer;
}
