<p *ngIf="!browse">
  <em>Loading...</em>
</p>

<div *ngIf="browse">
  <div class="container containerSpecific">

    <div class="filters">
      <a [routerLink]="['/catalog']" [queryParams]="{sort: 'cheapest'}" routerLinkActive="active" (click)="sortServer('cheapest')"
        class="btn btn-default">
        Od nejlevnějšího
      </a>
      <a [routerLink]="['/catalog']" [queryParams]="{sort: 'sale'}" routerLinkActive="active" (click)="sortServer('sale')" class="btn btn-default">
        Od největší slevy
      </a>
      <a [routerLink]="['/catalog']" [queryParams]="{sort: 'newest'}" routerLinkActive="active" (click)="sortServer('newest')"
        class="btn btn-default">
        Od nejnovějšího
      </a>

    </div>
    <app-catalog-list></app-catalog-list>
  </div>
</div>

