/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: #c9d2da1a;
  font-family: 'Open Sans', sans-serif;
}

.containerSpecific {
  width: 70%;
}
