li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus, .div:focus {
    background-color: #4189C7;
    color: white;
}

.navbar-nav>li>div {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    display: block;
    cursor: pointer;
}

/* .nav>li>div {
    padding: 10px 15px;
    display: block;
    position: relative;
} */

.navbar-nav>li>div:hover {
    background-color: pink;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    /*position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.testik {
    background-color: #ffffff;
    border-bottom: 4px solid #d91f29;
    cursor: default;
    display: none;
    padding: 22px 10px 0 35px;
    text-align: left;
    width: 100%;
    word-wrap: normal;
    z-index: 50;
    left: 0;
    position: absolute;
    top: 100%;
}
